// COLORS
// PRIMARY
$color-strong-cyan: hsl(171, 66%, 44%);
$color-light-blue: hsl(233, 100%, 69%);

// HOVER
$color-strong-cyan-hover: hsla(171, 66%, 44%, 0.75);
$color-light-blue-hover: hsla(233, 100%, 69%, 0.75);


// NEUTRAL
$color-dark-grayish-blue: hsl(210, 10%, 33%);
$color-grayish-blue: hsl(201, 11%, 66%);
$color-light-grayish-blue: hsla(201, 11%, 66%, 0.1);


// DEFAULT

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1rem;
$default-font-stack: "Bai Jamjuree", sans-serif;
$default-font-weight: 400;
$default-font-weight-heading: 600;

// GRID
$grid-width: 71.25rem;
$gutter-vertical: 5rem;
$gutter-vertical-small: 3.75rem;
$gutter-horizontal: 3.75rem;

$offset: calc(-1 * clamp(0.0625rem, calc(21.58vw + -10.29rem), 9.125rem));
